* text=auto eol=lf whitespace=trailing-space,-indent-with-non-tab,tab-in-indent,tabwidth=4

gtest-death-test.h text linguist-language=Shell
gtest-message.h text linguist-language=Shell
gtest-param-test.h text linguist-language=Shell
gtest-printers.h text linguist-language=Shell



*.cc text linguist-language=C++

*.sh text linguist-language=Shell

*.s -text diff

*.tex text linguist-language=TeX
*.pdf binary

Makefile text linguist-language=Makefile

.gitattributes text
.gitignore text
*.md text linguist-documentation

doc/* linguist-documentation=false